{% load static %}
<header class="header">
    <div class="container container--narrow">
      <a href="{%url 'login'%}" class="header__logo">
        <img src="{% static 'images/Ubalogo.png' %}" alt="UBa Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <li class="header__menuItem"><a href="{% url 'admin:index' %}" class="btn btn--sub">Admin Dashboard</a></li>
            <li class="header__menuItem"><a href="{% url 'verify_submissions' %}"class="btn btn--sub">Verify Submissions</a></li>
            <li class="header__menuItem"><a href="{% url 'set_certificates_available' %}"class="btn btn--sub">Notify Certificate Availability</a></li>
            {% else %} 
            <li class="header__menuItem"><a href="{% url 'submit_file' %}" class="btn btn--sub">Submit File</a></li>
            <li class="header__menuItem"><a href="{% url 'submission_list' %}" class="btn btn--sub">My Submissions</a></li>
            {% endif %}
            <li class="header__menuItem"><form action="{% url 'logout' %}" method="post">
              {% csrf_token %} <button class="btn btn--sub">Logout</button></form></li>
            
        {% else %}
        <li class="header__menuItem"><a href="{% url 'login' %}"class="btn btn--sub">Student Login</a></li>
        <li class="header__menuItem"><a href="{% url 'student_register' %}" class="btn btn--sub">Register</a></li>
        <li class="header__menuItem"><a href="{% url 'admin_login' %}" class="btn btn--sub">Admin Login</a></li>
        
        {% endif %}
        </ul>
      </nav>
    </div>
  </header>


